body {
  font-family: 'proxima-nova', sans-serif;
}

.queue {
  overflow: scroll;
  white-space: nowrap;
  width: 100%;
}

.queue .round {
  display: inline;
}

.queue .round-label,
.queue .team {
  background: #f9f9f9;
  border: 1px solid #ddd;
  display: inline-block;
  height: 100px;
  margin-left: -1px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  width: 200px;
}

.queue .round-label {
  background: #333;
  color: #fff;
  border: 0;
  position: relative;
  width: 40px;
}

.queue .round-label span {
  display: block;
  font-size: 12px;
  padding: 0;
  position: absolute;
  bottom: 44px;
  left: -4px;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transform: rotate(270deg);
}