<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>draft</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="app">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

      <div ng-controller="mainCtrl">
        <div class="queue">
          <div class="round" ng-repeat="round in rounds">
            <div class="round-label"><span>Round {{ round }}</span></div>
            <div class="team" ng-repeat="team in teams">
              <!--
              {{ ($index + 1) + ($parent.$index * 30) }} {{ team.name }}
              -->
              <img src="http://i.nflcdn.com/static/site/5.19/img/teams/{{ team.abbr }}/{{ team.abbr }}_logo-80x90.gif">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 available-players-wrap">
            <h2>Available Players</h2>
            <ul class="nav nav-pills">
              <li ng-repeat="position in positions"><a href="#" ng-click="filterPosition(position)">{{ position }}</a></li>
            </ul>
            <table class="table available-players">
              <tr>
                <th>Rank</th>
                <th>Position</th>
                <th>Player</th>
                <th>School</th>
                <th>Class</th>
                <th>Height</th>
                <th>Weight</th>
                <th></th>
              </tr>
              <tr ng-repeat="player in players">
                <td class="rank">{{ player.pos_rank }}</td>
                <td class="pos">{{ player.pos }}</td>
                <td class="name"><a href="#">{{ player.name }}</a></td>
                <td class="school">{{ player.school }}</td>
                <td class="year">{{ player.year }}</td>
                <td class="height">{{ player.height }}</td>
                <td class="weight">{{ player.weight }}</td>
                <td><button class="btn btn-success btn-xs">Draft</button>
              </tr>
            </table>
          </div>
          <div class="col-xs-4 draft-summary-wrap">
            <h2>Draft Summary</h2>
          </div>
        </div>
      </div>

      <script type="text/javascript" src="//use.typekit.net/jkw0vhm.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

      <!-- build:js scripts/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/angular/angular.js"></script>
      <!-- endbower -->
      <!-- endbuild -->

      <!-- build:js scripts/main.js -->
      <script src="scripts/angular/app.js"></script>
      <script src="scripts/angular/controllers.js"></script>
      <script src="scripts/angular/services.js"></script>
      <script src="scripts/angular/services/player.js"></script>
      <script src="scripts/angular/services/team.js"></script>
      <!-- endbuild -->
</body>
</html>
